{% load static %}
<footer class="bg-[#1A1A1A] w-full p-5 flex flex-col items-center justify-center gap-5">
<div class="flex  items-center justify-center">
    <div class="flex flex-col items-center justify-center text-white">
        <img src="{% static 'img/arrow.png' %}" alt="arrow" w-24 h-20 object-contain>
    <h3 class="font-bold">BACK TO TOP</h3></div>
</div>
    
   
    <div class="grid  grid-cols-4 gap-5">
       <div class=" flex  flex-col items-center justify-center  ">
    <img src="{% static 'img/face.png' %}" alt="close icon" class=" n">
    
    </div>
     <div class=" flex  flex-col items-center justify-center   ">
    <img src="{% static 'img/insta.png' %}" alt="close icon" class=" ">
    
    </div>
     <div class=" flex  flex-col items-center justify-center ">
    <img src="{% static 'img/in.png' %}" alt="close icon" class=" ">
    
    </div>
     <div class=" flex  flex-col items-center justify-center">
    <img src="{% static 'img/mail.png' %}" alt="close icon" class=" ">
    
    </div>
    

    </div>
<div class="text-white">
    <h1><b>@2020 Tomasz Gajda</b> All Rights Reserved.</h1>
</div>
</div>

</footer>