{% load static %}
<section class="bg-[radial-gradient(50%_50%_at_50%_50%,rgba(26,21,21,0)_0%,rgba(1,1,1,0.16)_100%)]  flex flex-col items-center justify-center ">
  
     <div>
    <button class="border-6 p-3 px-20 tracking-widest  font-bold">S K I L L S</button></div>

    <div class="  flex  flex-col  justify-items-start gap-20 p-20">

    <div class="items-start "><h1  class="font-extrabold tracking-widest ">USING NOW :</h1></div>
   
    <div class="grid  grid-cols-4 gap-20">
       <div class=" flex  flex-col items-center justify-center  gap-5 ">
    <img src="{% static 'img/group.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class=" uppercase">Java Script</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5  ">
    <img src="{% static 'img/figma.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class="uppercase ">Figma</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5 ">
    <img src="{% static 'img/git.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class=" uppercase">Git</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center  gap-5 ">
    <img src="{% static 'img/bootstrap.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class="uppercase ">Bootstrap</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5  ">
    <img src="{% static 'img/html.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <h4 class="uppercase">html 5</h4>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5  ">
    <img src="{% static 'img/css.png' %}" alt="close icon" class="w-24 h-20 object-contain">
   <div>
    <h4 class="uppercase ">css 3</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5  ">
    <img src="{% static 'img/group 14.png' %}" alt="close icon" class="w-24 h-20 object-contain">
   <div>
    <h4 class="uppercase ">React</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5 ">
    <img src="{% static 'img/sass.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class=" uppercase">Sass</h4>
    </div>
    </div>
    
  </div>

    </div>
</div>  

<div class="  flex  flex-col  justify-items-start gap-20 p-20">

    <div class="items-start "><h1  class="font-extrabold  tracking-widest ">LEARNING :</h1></div>
   
    <div class="grid  grid-cols-4 gap-20">
       <div class=" flex  flex-col items-center justify-center  gap-5 ">
    <img src="{% static 'img/njs.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class=" uppercase">nodejs</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5  ">
    <img src="{% static 'img/dolfi.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class="uppercase ">mysql</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5 ">
    <img src="{% static 'img/tscript.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class=" uppercase">typescript</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center  gap-5 ">
    <img src="{% static 'img/mongo.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class="uppercase ">mongodb</h4>
    </div>
    </div>
    

    </div>
</div>  

<div class="  flex  flex-col  justify-items-start gap-20 p-20">

    <div class="items-start "><h1  class="font-extrabold uppercase tracking-widest">other skills :</h1></div>
   
    <div class="grid  grid-cols-4 gap-20">
       <div class=" flex  flex-col items-center justify-center  gap-5 ">
    <img src="{% static 'img/uc.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class=" uppercase text-center">ANGIELSKI <br>c1/C2</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5  ">
    <img src="{% static 'img/b1.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class="uppercase  text-center">HISZPAŃSKI
<br>b1/B2</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center gap-5 ">
    <img src="{% static 'img/c++.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class=" uppercase">c++</h4>
    </div>
    </div>
     <div class=" flex  flex-col items-center justify-center  gap-5 ">
    <img src="{% static 'img/c.png' %}" alt="close icon" class="w-24 h-20 object-contain">
    <div>
    <h4 class="uppercase ">c</h4>
    </div>
    </div>
    

    </div>
</div> 
</section>
{% include 'Portfolio.html' %}